alias cat=bat
alias more=bat
alias k=kubectl
alias qrdecode=zbarimg
alias ls="exa"
alias ll="exa --long --header --git --icons"
alias free="duf --only-mp /"
alias v="fd --type f --hidden --exclude .git | fzf | xargs -o vim"
alias vim=nvim
alias ping=prettyping
alias repl=jay
alias tree="ll --tree --level=4 -a -I=.git --git-ignore"
alias weather="curl wttr.in\?m\&format=4"
alias j='z'
alias batt="pmset -g batt | grep -Eo \"\d+%\""
# DOCKER
alias dstop='docker stop $(docker ps -q)'
alias oraclessh='ssh opc@150.136.155.193'
alias uuid='uuidgen | awk "{print tolower(\$0)}"'
alias json='fx'

# Video
alias videomp4="echo ffmpeg -i $1 -c:v libx264 -profile:v baseline -level 3.0 -pix_fmt yuv420p $1.mp4"

