#alias cat=bat
#alias more=bat
alias pico=vim
alias k=kubectl

alias dev="cd ~/Projects/airfox/dev-env"
alias devserv="cd ~/Projects/airfox/dev-env/services"

alias repl=jay

# DOCKER
alias dlogs='cd ~/Projects/airfox/dev-env; docker-compose logs -f -t'
alias dstop='docker stop $(docker ps -q)'
alias dbase='docker start kafka postgres-af zookeeper redis'

